<body>
  
    <!-- SIDEBAR -->
    <section id="sidebar">
      <div style="padding-bottom: 20px;" class="boxIcon">
        <img src="../../assets/Logoafh.png">
        <p>AFH<br>METALMECANICOS</p>
      </div>
      <ul class="side-menu top">
        <li>
          <a [routerLink]="['/home']">
            <i class="bx bxs-dashboard"></i>
            <span class="text">Inicio</span>
          </a>
        </li>
        <li *ngIf="userLocalStorage.area === 'GERENCIA'">
          <a [routerLink]="['/staff']">
            <i class="bx bxs-group"></i>
            <span class="text">Usuarios</span>
          </a>
        </li>
        <li class="active" *ngIf="userLocalStorage.area === 'GERENCIA' || userLocalStorage.area === 'COMERCIAL'">
          <a [routerLink]="['/quotes']" >
            <i class='bx bxs-file' ></i>
            <span class="text">Cotizaciones</span>
          </a>
        </li>
        <li *ngIf="userLocalStorage.area === 'GERENCIA' || userLocalStorage.area === 'LOGISTICA'">
          <a [routerLink]="['/tools']">
            <i class="bx bxs-wrench"></i>
            <span class="text">Herramientas</span>
          </a>
        </li>
        <li *ngIf="userLocalStorage.area === 'GERENCIA'">
          <a [routerLink]="['/employes']">
            <i class="bx bxs-user-account"></i>
            <span class="text">Empleados</span>
          </a>
        </li>
        <li *ngIf="userLocalStorage.area === 'GERENCIA' || userLocalStorage.area === 'COMERCIAL'">
          <a [routerLink]="['/clients']">
            <i class="bx bxs-user-detail"></i>
            <span class="text">Clientes</span>
          </a>
        </li>
        <li *ngIf="userLocalStorage.area === 'GERENCIA' || userLocalStorage.area === 'LOGISTICA'">
          <a [routerLink]="['/supplies']">
            <i class="bx bxs-package"></i>
            <span class="text">Suministros</span>
          </a>
        </li>
        <li *ngIf="userLocalStorage.area === 'GERENCIA' || userLocalStorage.area === 'LOGISTICA'">
          <a [routerLink]="['/history']">
            <i class='bx bx-clipboard'></i>
            <span class="text">Inventario</span>
          </a>
        </li>
      </ul>
      <ul class="side-menu">
        <li>
          <a [routerLink]="['/configuration']">
            <i class='bx bxs-cog' ></i>
            <span class="text">Configuración</span>
          </a>
        </li>
        <li>
          <a style="cursor:pointer" (click)="this.storageService.logOut()" class="logout">
            <i class='bx bxs-log-out-circle' ></i>
            <span class="text">Cerrar Sesión</span>
          </a>
        </li>
      </ul>
    </section>
    <!-- SIDEBAR -->
  
    <!-- CONTENT -->
    <section id="content">
      <!-- NAVBAR -->
      <nav>
        <i (click)="changeSidebar()" class="bx bx-menu"></i>
        <div style="width: 90%;"></div>
        <a href="#" class="profile">
          <!-- <img [src]="img" /> -->
        </a>
      </nav>
      <!-- NAVBAR -->
  
      <!-- MAIN -->
      <main>
        <div class="head-title">
          <div class="left">
            <h1>Cotizaciones</h1>
            <ul class="breadcrumb">
              <li>
                <a>Cotizaciones</a>
              </li>
              <li><i class="bx bx-chevron-right"></i></li>
              <li>
                <a class="active">Home</a>
              </li>
            </ul>
          </div>
          <div style="padding-right: 5%;">
            <button  class="p-button-rounded-sm  p-mr-2" pTooltip="Acciones" tooltipPosition="top" pButton type="button" (click)="menu.toggle($event)" icon="pi pi-th-large"></button>
            <p-menu #menu [model]="items" [popup]="true" appendTo="body"></p-menu>
          </div>
        </div> 
        <br>
          <p-toast [breakpoints]="{'920px': {width: '100%', right: '0', left: '0'}}"></p-toast>
  
          <div class="card text-center">
            <div class="card-header" style="padding: 15px;">
              <h4>Control de Cotizaciones</h4>
            </div>
            <p-table
              #dt
              [scrollable]="true"
              filter="true"
              dataKey="code"
              [value]="quotes"
              [lazy]="lazy"
              [rowHover]="true"
              scrollHeight="300px" 
              [resizableColumns]="true"
              (onLazyLoad)="loadInventoryLazy($event)"
              [paginator]="true"
              [rows]="5"
              [totalRecords]="totalRecords"
              [loading]="loading"
              [showCurrentPageReport]="true"
              [resizableColumns]="true"
              [autoLayout]="true"
              [styleClass]="selectedSize"
              currentPageReportTemplate="Vista {first} a {last} de {totalRecords} registros"
              [globalFilterFields]="[ 'code', 'project','creationDate' , 'client.name' ]" 
            >
    <ng-template pTemplate="caption">
        <div class="p-d-flex">
          <button type="button" pButton icon='bx bx-file'  pRipple class="p-button-rounded-sm p-mr-2" pTooltip="Total de Registros" tooltipPosition="right">{{this.total}}</button>            
          <h5 class="p-input-icon-left p-ml-auto"></h5>
          <span class="p-input-icon-left">
                <i class="pi pi-search"></i>
                <input pTooltip="Filtra por:
                Codigo , Proyecto , Fecha , Empresa" tooltipPosition="top" pInputText  #textInput type="text" style="border-radius: 18px; height:45px;" (input)="dt.filterGlobal($any($event.target).value, 'contains')" placeholder="Buscar..." /> 
            </span>
        </div>
    </ng-template>    
    <ng-template pTemplate="header">
            <tr>
                <th>Archivos</th>
                <th pSortableColumn="code">Código <p-sortIcon field="code"></p-sortIcon></th>
                <th pSortableColumn="client" >Empresa<p-sortIcon field="client"></p-sortIcon></th>
                <th pSortableColumn="project" >Proyecto <p-sortIcon field="project"></p-sortIcon></th>
                <th pSortableColumn="addressedTo" >Dirigido a <p-sortIcon field="addressedTo"></p-sortIcon></th>
                <th pSortableColumn="creationDate" >Fecha de Creación <p-sortIcon field="creationDate"></p-sortIcon></th>
                <th>Opciones</th>
            </tr>
            </ng-template>
        <ng-template pTemplate="body" let-quote let-expanded="expanded">
            <tr>
                <td>
                    <button type="button" pButton pRipple [pRowToggler]="quote" class="p-button-text p-button-rounded p-button-plain" [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></button>
                </td>
                <td>{{quote.code}}</td>
                <td>{{quote.client.name}}</td>
                <td>{{quote.project}}</td>
                <td>{{quote.addressedTo}}</td>
                <td>{{quote.creationDate}}</td>
                <td >
                    <button pTooltip="Editar" pButton pRipple icon="pi pi-pencil"  class="p-button-rounded-sm p-button-success p-mr-2" (click)="updateQuote(quote)"></button>
                    <button pTooltip="Eliminar "  pButton pRipple icon="pi pi-trash"  class="p-button-rounded-sm p-button-danger p-mr-2" (click)="deleteQuote(quote)"></button>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="rowexpansion" let-product>
            <tr>
                <td colspan="7">
                    <div class="p-3">
                        <p-table class="p-datatable-responsive" [autoLayout]="true" [rowHover]="true" [styleClass]="selectedSize" [value]="product.files" dataKey="rute">
                            <ng-template pTemplate="header">
                                <tr>
                                    <th ><p-sortIcon field="price"></p-sortIcon></th>
                                    <th >Nombre del archivo <p-sortIcon ></p-sortIcon></th>
                                    <th >Nombre del Cliente <p-sortIcon ></p-sortIcon></th>
                                    <th >Fecha de Creación <p-sortIcon ></p-sortIcon></th>
                                    <th >Hora de Creación <p-sortIcon ></p-sortIcon></th>
                                    <th >Opciones</th>
                                    <th ></th>
                                    <th ></th>
                                    <th ></th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-files>
                                <tr>
                                    <td><i class='bx bxs-file-pdf' style="font-size: 1.5rem;color: red;"></i></td>
                                    <td class="p-p-1">{{ files.name }}</td>
                                    <td class="p-p-1">{{ files.clientName }}</td>
                                    <td class="p-p-1">{{ files.creationDate }}</td>
                                    <td class="p-p-1">{{ files.timeCreated }}</td>

                                    <td >
                                        <button pTooltip="Descargar" pButton pRipple icon="pi pi-download"  class="p-button-rounded-sm  p-mr-2" (click)="downloadOneFile(files)"></button>
                                        <button pTooltip="Eliminar "  pButton pRipple icon="pi pi-trash"  class="p-button-rounded-sm p-button-danger p-mr-2" (click)="deleteOneFile(files)"></button>
                                    </td>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="emptymessage">
                                <tr>
                                    <td colspan="6">No existen archivos para mostrar.</td>
                                </tr>
                            </ng-template>
                            
                        </p-table>
                    </div>
                </td>
            </tr>
        </ng-template>
    </p-table>
        </div>
        <p-confirmDialog acceptLabel="Si" [style]="{width: '450px'}"></p-confirmDialog>
      </main>
      <!-- MAIN -->
    </section>
    <!-- CONTENT -->
</body>

