<body>
  <!-- SIDEBAR -->
  <section id="sidebar">
    <div style="padding-bottom: 20px;" class="boxIcon">
      <img src="../../assets/Logoafh.png">
      <p>AFH<br>METALMECANICOS</p>
    </div>
    <!-- <div class="textUser">
      <p>{{ userLocalStorage.name}}</p>
      <p><strong>{{ userLocalStorage.area}}</strong></p>
    </div> -->
    <ul class="side-menu top">
      <li>
        <a [routerLink]="['/home']">
          <i class="bx bxs-dashboard"></i>
          <span class="text">Inicio</span>
        </a>
      </li>
      <li *ngIf="userLocalStorage.area === 'GERENCIA'">
        <a [routerLink]="['/staff']">
          <i class="bx bxs-group"></i>
          <span class="text">Usuarios</span>
        </a>
      </li>
      <li *ngIf="userLocalStorage.area === 'GERENCIA' || userLocalStorage.area === 'COMERCIAL'">
        <a [routerLink]="['/quotes']" >
          <i class='bx bxs-file' ></i>
          <span class="text">Cotizaciones</span>
        </a>
      </li>
      <li  class="active" *ngIf="userLocalStorage.area === 'GERENCIA' || userLocalStorage.area === 'LOGISTICA'">
        <a [routerLink]="['/tools']">
          <i class="bx bxs-wrench"></i>
          <span class="text">Herramientas</span>
        </a>
      </li>
      <li *ngIf="userLocalStorage.area === 'GERENCIA'">
        <a [routerLink]="['/employes']">
          <i class="bx bxs-user-account"></i>
          <span class="text">Empleados</span>
        </a>
      </li>
      <li *ngIf="userLocalStorage.area === 'GERENCIA' ||  userLocalStorage.area === 'COMERCIAL'">
        <a [routerLink]="['/clients']">
          <i class="bx bxs-user-detail"></i>
          <span class="text">Clientes</span>
        </a>
      </li>
      <li *ngIf="userLocalStorage.area === 'GERENCIA' || userLocalStorage.area === 'LOGISTICA'">
        <a [routerLink]="['/supplies']">
          <i class="bx bxs-package"></i>
          <span class="text">Suministros</span>
        </a>
      </li>
      <li *ngIf="userLocalStorage.area === 'GERENCIA' || userLocalStorage.area === 'LOGISTICA'">
        <a [routerLink]="['/history']">
          <i class='bx bx-clipboard'></i>
          <span class="text">Inventario</span>
        </a>
      </li>
    </ul>
    <ul class="side-menu">
			<li>
				<a [routerLink]="['/configuration']">
					<i class='bx bxs-cog' ></i>
					<span class="text">Configuración</span>
				</a>
			</li>
			<li>
				<a style="cursor:pointer" (click)="this.storageService.logOut()" class="logout">
					<i class='bx bxs-log-out-circle' ></i>
					<span class="text">Cerrar Sesión</span>
				</a>
			</li>
		</ul>
  </section>
  <!-- SIDEBAR -->

  <!-- CONTENT -->
  <section id="content">
    <!-- NAVBAR -->
    <nav>
      <i (click)="changeSidebar()" class="bx bx-menu"></i>
      <div style="width: 90%;"></div>
      <a href="#" class="profile">
        <!-- <img [src]="img" /> -->
      </a>
    </nav>
    <!-- NAVBAR -->

    <!-- MAIN -->
    <p-toast [breakpoints]="{'920px': {width: '100%', right: '0', left: '0'}}"></p-toast>
    <main>
      <div class="head-title">
        <div class="left">
          <h1>Crear Herramienta</h1>
          <ul class="breadcrumb">
            <li>
              <a>Herramienta</a>
            </li>
            <li><i class="bx bx-chevron-right"></i></li>
            <li>
              <a class="active">Crear Herramienta</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="container-fluid">
        <p-panel>
          <p-header
            style="font-size: 20px; font-family: Poppins; font-weight: 700"
          >
            Crear Herramienta
          </p-header>
          <form [formGroup]="formAddTool" (ngSubmit)="addTool()" autocomplete="off" novalidate>
            <div class="p-grid p-fluid" style="padding-bottom: 15px;">
              <div
                class="p-col-12 p-md-6"
                style="padding-right: 15px; padding-left: 15px"
              >
                <div class="input-field">
                  <label for="names">Nombre</label>
                  <input
                    type="text"
                    pInputText
                    id="name"
                    formControlName="name"
                    style="padding-left: 15px; border-radius: 12px"
                    placeholder="ingrese el nombre"
                    (input)="generateCode($event)"
                    required
                    autofocus
                  />
                  <div
                    class="p-error"
                    *ngIf="formAddTool.get('name')?.touched && formAddTool.get('name')?.errors?.['required']"
                  >
                    El nombre es requerido.
                  </div>
                </div>
              </div>
              <div
                class="p-col-12 p-md-6"
                style="padding-left: 15px; padding-bottom: 15px"
              >
                <div class="input-field">
                  <label for="codeTool">Código Herramienta</label>
                  <input
                    id="disabled-input"
                    type="text"
                    style="padding-left: 15px; border-radius: 12px"
                    pInputText
                    [readonly]="true"
                    formControlName="codeGenerate"
                  />
                  <div
                    class="p-error"
                    *ngIf="formAddTool.get('codeGenerate')?.touched && formAddTool.get('codeGenerate')?.errors?.['required']"
                  >
                    El código es requerido.
                  </div>
                </div>
              </div>
              <div
                class="p-col-12 p-md-6"
                style="padding-left: 15px; width: 48%; padding-bottom: 15px"
              >
                <div class="input-field">
                  <label for="brand">Marca</label>
                  <input
                    type="text"
                    pInputText
                    id="brand"
                    formControlName="brand"
                    style="padding-left: 15px; border-radius: 12px"
                    placeholder="ingrese la marca"
                    required
                    autofocus
                  />
                  <div
                    class="p-error"
                    *ngIf="formAddTool.get('brand')?.touched && formAddTool.get('brand')?.errors?.['required']"
                  >
                    La marca es requerida.
                  </div>
                </div>
              </div>
              <!-- descripcion ejemplo pa futuro -->
              <!-- <div class="p-col-12 p-md-12" style="padding-left: 15px">
                <div class="myclass">
                  <label for="description">Descripción</label>
                  <textarea
                    style="padding-left: 10px"
                    rows="5"
                    cols="100"
                    pInputTextarea
                    name="description"
                    formControlName="description"
                    [autoResize]="true"
                  ></textarea>
                </div>
                <div
                  class="p-error"
                  *ngIf="formAddTool.get('codeTool')?.touched && formAddTool.get('codeTool')?.errors?.['required']"
                >
                  El codigo de herramienta es requerido
                </div>
              </div> -->
              <div class="p-col-12 p-md-12" style="padding-left: 15px;">
                <span class="tittle">Subir imagen</span>
                <p-fileUpload
                  #fileInput
                  name="upload[]"
                  [customUpload]="true"
                  chooseLabel="AGREGAR"
                  cancelLabel="CANCELAR"
                  uploadLabel="SUBIR"
                  [multiple]="true"
                  accept="image/*"
                  chooseIcon="pi pi-upload" 
                  uploadIcon="pi pi-arrow-up" 
                  [fileLimit]="1"
                  [showUploadButton]="false"
                  [maxFileSize]="9999999"
                  (uploadHandler)="onUploadFile($event)"
                  (onClear)="clear()"
                  (onSelect)="fileSelect($event)"
                  (onRemove)="remove($event)"
                  (onUpload)="onUpload()"
                >
                  <ng-template
                    pTemplate="body"
                    *ngFor="let file of uploadedFiles"
                  >
                    <div class="p-grid p-fluid">
                      <div class="p-col-12 p-md-10">{{ file?.name }}</div>
                      <div class="p-col-12 p-md-2">{{ file?.size }}</div>
                    </div>
                    <br />
                  </ng-template>
                </p-fileUpload>
              </div>
            </div>
            <div class="flex justify-content-center">
              <div class="btnCenter">
                <!-- <button type="submit"  [disabled]="this.formAddTool.invalid">Agregar</button> -->
                <button class="btn btn-primary" type="submit" [disabled]="(this.formAddTool.invalid)">Guardar</button>
                <button type="button" (click)="userBack()">Volver</button>
              </div>
            </div>
          </form>
        </p-panel>
      </div>
    </main>
    <!-- MAIN -->
  </section>
  <!-- CONTENT -->
</body>
